{
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "cwd": "babelrc"
      }
    ],
    [
      "inline-import",
      {
        "extensions": [".css"]
      }
    ]
  ],
  "presets": [
    "next/babel"
  ],
  "ignore": []
}
