
$fg: #eef;
$bg: #131;
$ac_bg: purple;
$ac_fg: white;
$font: 'sans-serif';
$scrollbar_track: darken($bg, 4%);
$scrollbar_thumb: lighten($bg, 4%);

* {
  scrollbar-color: $scrollbar_thumb $scrollbar_track;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  background: $scrollbar_track;
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: $scrollbar_track;
}
::-webkit-scrollbar-corner {
  background: $scrollbar_thumb;
}
::-webkit-scrollbar-thumb {
  background: $scrollbar_thumb;
}

body {
  background-color: $bg;
  color: $fg;
  font-family: $font;
}

h1 {
  font-size: 1.7em;
  margin-top: 0em;
  margin-bottom: 0em;
}

input[type=submit], button {
  padding: 0.3em 1em;
  margin: 0.2em;
  background: $ac_bg;
  color: $ac_fg;
  font-family: $font;
  font-size: 1em;
  border: none;
  border-radius: 4px;
}

input[type=text],
input[type=number] {
  font-family: $font;
  padding: 0.3em;
  margin: 0.1em;
  background: lighten($bg, 10%);
  color: $fg;
  font-size: 1em;
  border: none;
}

input[type=text]:focus {
  background: lighten($bg, 15%);
}

input[type=submit]:hover, button:hover {
  background: lighten($ac_bg, 10%);
}

// Date textbox
.react-datepicker__input-container input {
  width: 14em;
}

select {
  font-family: $font;
  padding: 0.3em;
  margin: 0.1em;
  background: lighten($bg, 10%);
  color: $fg;
  font-size: 1em;
  border: none;
}

a {
  color: lighten($ac_bg, 30%);
  text-decoration: none;
}
a:hover {
  color: lighten($ac_bg, 50%);
}
a:active {
  color: lighten($ac_bg, 50%);
}

dl.input_list {
  dt {
    margin-top: 1em;
  }
  dd {
    margin-left: 0.3em;
  }
}



img.emoji {
  position: relative;
  top: 2px;
  width: 13px;
  height: 13px;
  margin: 0px 2px;
}

div.current_params {
  border: solid 1px lighten($ac_bg, 50%);
  border-radius: 2px;
  padding: 0.3em;
  margin: 0.5em 0em;
  font-size: 0.8em;
}

div.pager_box {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.json_text {
  background: darken($bg, 5%);
  color: lighten($bg, 30%);
  overflow: scroll;
  height: 100px;
}

a.move_link:hover {
  cursor: pointer;
}

.timeshift_box {
  font-size: 0.9em;
}
.timeshift_box.unavailable {
  text-decoration: line-through;
}

.layout {
  max-width: 640px;
  margin: auto;
  padding: 4px;
  border: 1px solid lighten($bg, 10%);
}

.status {
  border: solid 1px #ccc;
  margin-top: -1px;
  border-right: 0px;
  border-left: 0px;
  padding: 0.2em;
}

.status-arrived {
  background: #633;
  border: solid 3px red;
}

.status-arrivedUnknown {
  background: #633;
}

.statusBody_statusContent {
  line-height: 1.2em;
}

.media {
  margin-right: 4px;
}

.media_image, .media_gifv {
  max-width: 100%;
  max-height: 110px;
  transition: all 0.1s;
}
.media_image:hover, .media_gifv:hover {
  transform: scale(2);
  transition: all 0.2s;
}

.media_video {
  max-width: 100%;
  max-height: 110px;
}

.sts-count { text-align: right; padding: 0px; margin: 0px; }

.previewcard {
  margin: 2px;
  width: 90%;
  border: solid 1px lighten($bg, 10%);
  border-radius: 2px;
}

.previewcard-title {
  font-size: 0.8em;
  padding: 1px;
}

.previewcard-body {
  padding: 4px;
  font-size: 0.5em;
}

.previewcard-image {
  max-width: 100%;
  max-height: 60px;
  transition: all 0.1s;
}
.previewcard-image:hover {
  transform: scale(3);
  transition: all 0.2s;
}

.statusList-body {
  background: lighten($bg, 1%);
}

.userIcon-text {
  color: #0f0;
  text-shadow: 0px 0px 2px #060;
}